In [1]:
import pandas as pd

In [2]:
offense = pd.read_csv("../data/raw/NFLRegSeasonOffenseStats.csv")
defense = pd.read_csv("../data/raw/NFLRegSeasonDefenseStats.csv")

In [3]:
offense

,iso_code,Team,Conference,City,State,Year,Wins,Losses,Ties,Passing_Attempts,...,Receiving_Yards,Receiving_TDs,Reciever_Fumbles,Two_Point_Conversions,Kick_Return_TDs,Punt_Return_TDs,Field_Goals_Attempts,Field_Goals_Made,Extra_Points_Attempts,Extra_Points_Made
0,BB,Buffalo Bills,AFC East,Buffalo,New York,2004,9,7,0,461,...,3032,21,4,0,3,2,28,24,45,45
1,BB,Buffalo Bills,AFC East,Buffalo,New York,2005,5,11,0,459,...,2852,18,1,0,1,0,35,29,26,26
2,BB,Buffalo Bills,AFC East,Buffalo,New York,2006,7,9,0,431,...,3051,19,3,0,0,1,25,23,33,33
3,BB,Buffalo Bills,AFC East,Buffalo,New York,2007,7,9,0,445,...,2842,12,4,1,1,1,27,24,24,24
4,BB,Buffalo Bills,AFC East,Buffalo,New York,2008,7,9,0,479,...,3302,14,7,1,1,1,38,30,34,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,SS,Seattle Seahawks,NFC West,Seattle,Washington,2018,10,6,0,427,...,3448,35,4,1,0,0,27,22,51,48
604,SS,Seattle Seahawks,NFC West,Seattle,Washington,2019,11,5,0,517,...,4110,31,8,1,0,0,28,23,44,40
605,SS,Seattle Seahawks,NFC West,Seattle,Washington,2020,12,4,0,563,...,4245,40,3,1,0,0,24,24,53,49
606,SS,Seattle Seahawks,NFC West,Seattle,Washington,2021,7,10,0,495,...,3815,30,11,1,1,0,23,17,47,44
607,SS,Seattle Seahawks,NFC West,Seattle,Washington,2022,9,8,0,573,...,4282,30,4,0,0,0,37,34,42,41

In [4]:
offense = offense.drop(["iso_code", "Conference", "City", "State"], axis = 1)
defense = defense.drop(["iso_code", "Conference", "City", "State", "Wins", "Losses", "Ties"], axis = 1)

In [5]:
offense.columns

Index(['Team', 'Year', 'Wins', 'Losses', 'Ties', 'Passing_Attempts',
       'Passing_Completions', 'Passing_Yards', 'Passing_TDs',
       'Interceptions_Thrown', 'Rushing _Attempts', 'Rushing_Yards',
       'Rushing_TDs', 'Rushing_Fumbles', 'Receptions', 'Receiving_Yards',
       'Receiving_TDs', 'Reciever_Fumbles', 'Two_Point_Conversions',
       'Kick_Return_TDs', 'Punt_Return_TDs', 'Field_Goals_Attempts',
       'Field_Goals_Made', 'Extra_Points_Attempts', 'Extra_Points_Made'],
      dtype='object')

In [6]:
offense = offense.set_index(["Team", "Year"])
defense = defense.set_index(["Team", "Year"])

In [7]:
stats = pd.concat([offense, defense], axis = 1)

In [8]:
stats

                       Wins  Losses  Ties  Passing_Attempts  \
Team             Year
Buffalo Bills    2004     9       7     0               461
                 2005     5      11     0               459
                 2006     7       9     0               431
                 2007     7       9     0               445
                 2008     7       9     0               479
...                     ...     ...   ...               ...
Seattle Seahawks 2018    10       6     0               427
                 2019    11       5     0               517
                 2020    12       4     0               563
                 2021     7      10     0               495
                 2022     9       8     0               573

                       Passing_Completions  Passing_Yards  Passing_TDs  \
Team             Year
Buffalo Bills    2004                  262           3032           21
                 2005                  269           2852           18
                 2006                  268           3051           19
                 2007                  263           2842           12
                 2008                  309           3302           14
...                                    ...            ...          ...
Seattle Seahawks 2018                  280           3448           35
                 2019                  341           4110           31
                 2020                  388           4245           40
                 2021                  324           3815           30
                 2022                  399           4282           30

                       Interceptions_Thrown  Rushing _Attempts  Rushing_Yards  \
Team             Year
Buffalo Bills    2004                    17                483           1874
                 2005                    16                428           1607
                 2006                    14                420           1552
                 2007                    14                448           1800
                 2008                    15                439           1842
...                                     ...                ...            ...
Seattle Seahawks 2018                     7                534           2560
                 2019                     6                481           2200
                 2020                    13                411           1971
                 2021                     7                413           2074
                 2022                    12                425           2042

                       ...  Assisted_Tackles  Sacks  Tackles_For_Loss  \
Team             Year  ...
Buffalo Bills    2004  ...               377     45               0.0
                 2005  ...               357     38               0.0
                 2006  ...               368     40               0.0
                 2007  ...               262     26               0.0
                 2008  ...               227     24               0.0
...                    ...               ...    ...               ...
Seattle Seahawks 2018  ...               260     43              81.5
                 2019  ...               390     28              71.5
                 2020  ...               329     46             102.0
                 2021  ...               536     34              68.0
                 2022  ...               417     45              75.0

                       Pass_Deflections  Interceptions  Interception_TDs  \
Team             Year
Buffalo Bills    2004               225             24                 4
                 2005               189             17                 1
                 2006               189             13                 2
                 2007                80             18                 2
                 2008                73             10                 3
...                                 ...            ...               ...
Seattle Seahawks 2018                60             12                 1
                 2019                74             16                 2
                 2020                79             14                 0
                 2021                80             11                 0
                 2022                81             14                 1

                       Forced_Fumbles  Fumbles_Recovered  Fumble__TDs  \
Team             Year
Buffalo Bills    2004              21                  0            0
                 2005              16                  0            0
                 2006              17                  0            2
                 2007              12                  0            1
                 2008              15                  0            0
...                               ...                ...          ...
Seattle Seahawks 2018              21                 14            1
                 2019              19                 16            1
                 2020              14                  8            0
                 2021              11                  7            0
                 2022              21                 11            0

                       Kicks_Blocked
Team             Year
Buffalo Bills    2004              1
                 2005              0
                 2006              1
                 2007              0
                 2008              1
...                              ...
Seattle Seahawks 2018              1
                 2019              3
                 2020              2
                 2021              1
                 2022              1

[608 rows x 34 columns]

In [11]:
win_loss = pd.read_csv("../data/raw/nfl_win_loss.csv")
win_loss

,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,passing_yards_away,...,redzone_away,redzone_home,drives_away,drives_home,def_st_td_away,def_st_td_home,possession_away,possession_home,score_away,score_home
0,9/5/2002,49ers,Giants,13,21,12-Apr,16-Sep,0-0,0-1,166,...,0-8,0-6,13,15,0,0,27:32:00,32:28:00,16,13
1,9/8/2002,Jets,Bills,18,26,8-Feb,17-Jul,0-0,2-Feb,193,...,0-9,0-8,17,18,2,0,21:06,39:08:00,37,31
2,9/8/2002,Vikings,Bears,19,20,13-May,13-Jul,0-0,0-0,228,...,0-7,0-6,17,17,0,0,31:31:00,28:29:00,23,27
3,9/8/2002,Chargers,Bengals,27,13,10-Jun,11-Apr,0-0,0-0,160,...,0-7,0-5,11,15,0,0,37:48:00,22:12,34,6
4,9/8/2002,Chiefs,Browns,24,24,11-May,11-Apr,0-0,0-0,276,...,0-10,0-10,20,17,0,0,30:16:00,29:44:00,40,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5636,1/22/2023,Bengals,Bills,30,19,10-Jun,12-May,0-0,2-Jan,240,...,4-Feb,3-Jan,9,8,0,0,33:54:00,26:06:00,27,10
5637,1/22/2023,Cowboys,49ers,15,21,15-May,14-Jul,2-Feb,0-0,206,...,3-Jan,3-Jan,10,9,0,0,27:07:00,32:53:00,12,19
5638,1/29/2023,49ers,Eagles,11,25,8-Feb,15-May,0-2,3-Mar,83,...,0-0,6-Apr,10,10,0,0,22:34,37:26:00,7,31
5639,1/29/2023,Bengals,Chiefs,18,23,14-Jun,14-Jul,1-Jan,1-Jan,238,...,3-Jan,3-Feb,11,10,0,0,27:09:00,32:51:00,20,23
5640,2/12/2023,Chiefs,Eagles,21,25,8-Apr,18-Nov,0-0,2-Feb,182,...,5-Apr,5-Mar,8,10,1,0,24:13:00,35:47:00,38,35

In [13]:
win_loss = win_loss[["date","away", "home", "score_away", "score_home"]]

In [14]:
win_loss

           date      away     home  score_away  score_home
0      9/5/2002     49ers   Giants          16          13
1      9/8/2002      Jets    Bills          37          31
2      9/8/2002   Vikings    Bears          23          27
3      9/8/2002  Chargers  Bengals          34           6
4      9/8/2002    Chiefs   Browns          40          39
...         ...       ...      ...         ...         ...
5636  1/22/2023   Bengals    Bills          27          10
5637  1/22/2023   Cowboys    49ers          12          19
5638  1/29/2023     49ers   Eagles           7          31
5639  1/29/2023   Bengals   Chiefs          20          23
5640  2/12/2023    Chiefs   Eagles          38          35

[5641 rows x 5 columns]